*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
#page-wrapper{
    position: relative;
}
header{
    position: fixed;
    display: flex;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
.logo{
    width: 60vw;
}
.logo>img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
nav{
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 35vw;
}
li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #000;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#hero>h2{
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
#hero input[type='submit']{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px;
    background-color: #f1c40f;
    border: 0px;
}
#hero input[type='submit']:hover{
    animation-name: background-color;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100%{
        background-color: darkorange;
    }
}
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#features{
    margin-top: 30px;
}
.grid{
    display: flex;
}
#features .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#how-it-works> iframe{
    max-width: 560px;
    width: 100%;
}
#pricing{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.product{
    display: flex;
    max-width: 375px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border: #000 1px solid;
    border-radius: 5px;
}
.level{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0 ;
    margin-bottom: 15px;
}
.product>h2{
    margin-bottom: 15px;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol>li{
    margin: 5px 0;  
}
.btn1{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    margin: 30px 0 10px;
}
button{
    background-color: #f1c40f;
}
button:hover{
    animation-name: background-color;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100%{
        background-color: darkorange;
    }
}
footer{
    background-color: rgb(219, 219, 219);
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
footer>ul{
    display: flex;
    justify-content: flex-end;
}
footer>ul>li{
    margin: 0 10px;
}
footer>span{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}